<div class="container">
  <div class="flex flex-wrap md:py-7">
    <div class="md:col-4 col-12 ">
      <div class="col-10 col-offset-1">
        <p-card>
          <div class="flex flex-column justify-content-center row-gap-0">
            <p class="text-lg font-bold text-900 text-center">Subscribe</p>
            <img src="../../../assets/image/subscribe.png" class="w-10 h-10 mx-auto text-center" alt="startup">
            <div class="my-1 text-center">
              <span class="text-4xl font-bold mr-2 text-900">Rp50.000</span>
              <span class="text-600">/ month</span>
            </div>
            <p-divider class="w-full bg-surface-200"></p-divider>
          <ul class="list-none p-0 flex text-900 flex-column">
            <li class="py-1">
              <i class="pi pi-fw pi-check text-xl text-cyan-500 mr-2"></i>
              <span class="text-xl line-height-3">Premium Content</span>
            </li>
          </ul>
          </div>
        </p-card>
        
      </div>
    
    </div>
    <div class="md:col-8 col-12 flex align-content-center justify-content-center flex-column row-gap-4 ">
      <div class="flex align-items-center column-gap-2 flex-wrap ">
        <span class="flex text-4xl font-medium vertical-align-sub">Welcome to </span>
        <img src="../../../assets/image/logo-filos-large.png" alt="" height="40px" > 
        <span class="flex text-4xl font-medium vertical-align-sub"> Community</span>
      </div>
      <div class="flex align-items-center">
        <span>Filos will be become a leading one-stop IT solutions provider in the region, with emphasis on quality, professionalism, reliability, and technological innovation.</span>
      </div>
      <div class="flex align-self-center">
        <button pButton pRipple type="button" label="Get Started" class="p-button-rounded  p-button-sm color-bg-yellow w-full text-small color-black bold fadeinleft animation-duration-1000 animation-iteration-1 flex align-items-center justify-content-center
        font-bold" (click)="login()"></button>
      </div>
    </div>
  </div>  

</div>