<div class="container">
  <div class="grid mt-3">
    <div class="col-12">
      <span class="back" (click)="back()"><i class="pi pi-angle-left"></i>Back to home</span>
    </div>
  </div>
  <div class="grid">
    <!-- Halaman Kiri -->
    <div class="md:col-9 col-12">
      <div class="grid">
        <div class="col-12">
          <!-- Card Thread -->
          <div class="card">
            <div class="container">

              <!-- header -->
              <div class="flex column-gap-4">
                <div class="flex">
                  <div class="image-content">
                    <div class="image-box">
                      <img [src]="'http://localhost:3333/files/'+threadHdrData.data?.photoProfileCreator" alt="" srcset="" class="profile-pic">
                    </div>
                  </div>
                </div>
                <div class="flex flex-column pt-2">
                      <p class="text-base font-medium">{{threadHdrData.data?.creatorName}}</p>
                      <p class="text-xs">{{threadHdrData.data?.createdAt}}</p>
                </div>
              </div>

              <!-- content -->
              <div class="flex flex-column mt-5 row-gap-3">
                <div class="flex">
                  <p class="text-base font-semibold">{{threadHdrData.data?.threadName}}</p>
                </div>
                <div class="flex">
                  <p class="text-sm">{{threadHdrData.data?.threadContent}}</p>
                  <img [src]="'http://localhost:3333/files/'+threadHdrData.data?.fileId" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-1">
          <!-- Write Comment -->
          <div class="flex flex-column">
            <div class="flex ml-4 column-gap-3 align-content-center">
                  <i class="pi pi-circle-fill color-purple flex align-items-center" style="font-size: 2rem"></i>
                  <p class="font-semibold text-base flex align-items-center"> Comment</p>
            </div>
            <div class="flex-1 mt-2">
              <div class="card">
                <div class="container">
                  <form action="">
                    <div class="flex column-gap-4 ">
                      <div class="flex">
                        <div class="image-content">
                          <div class="image-box">
                            <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="profile-pic">
                          </div>
                        </div>
                      </div>
                      <div class="flex-1">
                          <div class="flex flex-wrap">
                              <div class="col-12">
                                <input type="text" pInputText class="w-full border-radius-20px" placeholder="Title" />
                              </div>
                              <div class="col-12">
                                <textarea pInputTextarea class="w-full border-radius-20px" placeholder="Content"></textarea>
                              </div>
                            </div>
                            <div class="flex -mb-3 justify-content-end">
                              <div class="flex">
                                <button pButton pRipple type="submit"
                                  class="p-button-rounded p-button-sm color-bg-yellow w-full text-small color-black bold"
                                  styleClass="p-button-sm text-center" label="Post"></button>
                              </div>
                            </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-1">
          <!-- Comment -->
          <div class="flex flex-column">
            <div class="flex ml-4 column-gap-3 align-content-center">
                  <i class="pi pi-comments color-purple flex align-items-center" style="font-size: 20px"></i>
                  <p class="text-sm flex align-items-center"> 17 Comment</p>
            </div>
            <div class="flex-1 mt-2">
              <div class="card">
                <div class="container">
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Halaman Kanan -->
     <div class="md:col-3 col-12 right-page">
      <div class="grid justify-content-center">
        <div class="col-12 mt-1">
          <span class="bold text-heading-3">Training for you</span>
        </div>
      </div>
      <div class="card-transparent">
        <div class="container">
          <!-- event 1 -->
          <div class="grid justify-content-center">
            <div class="col align-content-center">
              <div class="grid" [style]="{ 'margin-top':'-20px'}">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">Title Training</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">Provider Training</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- event 1 -->
          <div class="grid justify-content-center">
            <div class="col align-content-center">
              <div class="grid" [style]="{ 'margin-top':'-20px'}">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">Title Training</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">Provider Training</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- event 1 -->
          <div class="grid justify-content-center">
            <div class="col align-content-center">
              <div class="grid" [style]="{ 'margin-top':'-20px'}">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">Title Training</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">Provider Training</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>