<div class="container mt-3">
  <div class="card">
    <div class="card-header card-container">
        <div class="float-start">
            <button pButton pRipple type="button" label="kembali" icon="fa fa-chevron-left"
            class="p-button-secondary" title="kembali" (click)="back()">
            </button>
        </div>
        <div class="text-center">
            <p class="title fs-1">Add <strong>Data</strong></p>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="card-body">
        <form action="" (ngSubmit)="save()" ngnativevalidate #form="ngForm">
            <div class="grid mb-3 mb:md-1">
                <div class="col-12">
                    <label for="name">name</label>
                    <span class="text-danger p-error"> * </span>
                    <input pInputText type="text" class="form-control w-full" name="name" id="name" 
                    [(ngModel)]="req.name" placeholder="Type here" required>
                </div>
            </div>
            <div class="grid">
              <div class="col">
                <button pButton pRipple type="submit" name="submitBtn" id="submitBtn" [disabled]="!form.valid"
                class="p-button-success" icon="pi pi-pencil" label="submit">
                </button>
              </div>
              <div class="col">
                <div class="form-check form-switch float-end">
                  <label class="form-check-label" for="isActive">Active?</label>
                  <br>
                  <p-inputSwitch class="form-check-input" type="checkbox" name="isActive" id="isActive" [(ngModel)]="req.isActive"></p-inputSwitch>
                </div>
              </div>
            </div>
        </form>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-rounded p-button-secondary"
  acceptButtonStyleClass="p-button-rounded p-button-danger"></p-confirmDialog>
