<div class="container mt-3">
  <div class="grid ">

    <div class="md:col-3 left-page col-12 pr-0">
      <home-left-page></home-left-page>
    </div>

    <!-- Halaman Tengah -->
    <div class="md:col-6 middle-page col-12 px-0">
      <div class="container">
        <p-tabView>
          <!-- My Activities -->
          <p-tabPanel header="My Activities">
            <div class="card">
              <div class="container">
                <div class="grid justify-content-center card-login " [style]="{'margin-bottom':'-20px'}">
                  <div class="col align-content-center">
                    <!-- form thread -->
                    <form (ngSubmit)="onSubmit()">
                      <div class="flex mb-3 column-gap-2">
                        <div class="flex">
                          <div class="image-content-profile">
                            <div class="image-box-profile">
                              <img [src]="proPic" alt="" srcset="" class="profile-pic">
                            </div>
                          </div>
                        </div>
                        <div class="flex">
                          <p-dropdown [options]="listThreadCategory.data!" [(ngModel)]="createThreadHdr.categoryId"
                            optionLabel="categoryName" optionValue="id" name="categoryName"
                            (onChange)="checkPollling($event)" pTooltip="Category" tooltipPosition="right"></p-dropdown>
                        </div>
                      </div>
                      <div class="grid flex flex-wrap">
                        <div class="col-12">
                          <input type="text" required="true" pInputText class="w-full border-radius-20px"
                            [(ngModel)]="createThreadHdr.threadName" placeholder="Write your title thread" name="threadName" />
                        </div>
                        <div class="col-12">
                          <textarea pInputTextarea required="true" class="w-full border-radius-20px"
                            [(ngModel)]="createThreadHdr.threadContent" placeholder="Content ..."
                            name="threadContent"></textarea>
                        </div>
                      </div>
                      <p-divider></p-divider>
                      <div class="grid -mt-3 -mb-3 flex">
                        <div class="col-12" *ngIf="polling">
                          <div class="grid mt-1 flex flex-wrap">

                            <!-- form polling -->
                            <div class="col-12">
                              <input pInputText type="text" required="true" class="w-full border-radius-20px"
                                placeholder="Title Polling" name="pollingName"
                                [(ngModel)]="createThreadHdr.pollingName" />
                            </div>
                            <div class="col-12">
                              <div class="grid">
                                <div class="md:col-9 col-7">
                                  <input pInputText type="text" required="true" #optionLabel
                                    class="w-full border-radius-20px" placeholder="Option" />
                                </div>
                                <div class="md:col-3 col-5">
                                  <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded"
                                    (click)="addInputControl(optionLabel.value);optionLabel.value=''"></button>
                                </div>
                              </div>
                              <div class="grid" *ngFor="let polling of pollingArray; let i = index ">
                                <div class="md:col-9 col-7">
                                  <input pInputText type="text" required="true" class="w-full border-radius-20px"
                                    placeholder="Option" [value]="polling" (change)="changeValue(i, $event)" />
                                </div>
                                <div class="md:col-3 col-5">
                                  <button pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger" (click)="removeInputControl(i)"></button>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="field col-12 md:col-4">
                                <label for="time" class="text-sm">Expired</label>
                                <p-calendar [(ngModel)]="expiredPolling" [showTime]="true" [showSeconds]="true"
                                  inputId="time" name="expiredAt" [(ngModel)]="createThreadHdr.expiredAt"></p-calendar>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Action -->

                        <div class="col-12 flex justify-content-between">
                          <div class="flex">
                            <p-fileUpload mode="basic" name="file" (uploadHandler)="onChangeFile($event)"
                            chooseIcon="pi pi-image" [auto]="true" [customUpload]="true">
                          </p-fileUpload>
                          </div>
                          <div class="flex ">
                            <button pButton pRipple type="submit"
                              class="p-button-rounded p-button-sm w-full text-small bold"
                              styleClass="p-button-sm text-center" icon="pi pi-send"></button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- thread -->

            <div class="flex mt-4 justify-content-center" *ngIf="showSpinner">
              <p-progressSpinner></p-progressSpinner>
            </div>
            <div class="thread" *ngFor="let threadHdr of listThreadHdrByUserLogged.data; let i=index">
              <!-- thread yang kurang dari 100 karakter -->
              <div class="card mt-3" *ngIf="threadHdr.threadContent!.length < 100">
                <div class="container">
                  <!-- Header -->
                  <div class="flex justify-content-between column-gap-4">
                    <div class="flex">
                      <div class="image-content-profile">
                        <div class="image-box-profile">
                          <img [src]="proPic" alt="" srcset="" class="profile-pic">
                        </div>
                      </div>
                    </div>
                    <div class="flex-grow-1 flex-column pt-1">
                      <p class="text-base font-medium">{{threadHdr.creatorName}}</p>
                      <p class="text-xs">{{threadHdr.createdAt| timeAgo}}</p>
                    </div>
                    <div class="flex-none " *ngIf="threadHdr.isPremium">
                      <p class="text-xs text-orange-500 font-medium"> Premium <i class="pi pi-star-fill"
                          style="font-size: 10px"></i></p>
                    </div>
                     <div class="flex-none click" >
                      <i class="pi pi-pencil font-semibold" style="font-size: 12px" (click)="toEditThread(threadHdr.id)" pTooltip="Edit Thread" tooltipPosition="bottom"></i>
                    </div>
                  </div>

                  <!-- Content -->
                  <div class="grid mt-3 mr-2 ml-2">
                    <div class="col-12">
                      <span class="bold black text-heading-3">{{threadHdr.threadName}}</span>
                    </div>
                    <div class="col-12">
                      <p class="text-small">{{threadHdr.threadContent}}</p>
                    </div>
                    <div class="image-content" *ngIf="threadHdr.fileId!=null">
                      <div class="image-box mx-auto">
                        <img [src]="'http://localhost:3333/files/'+threadHdr.fileId" alt="" alt="">
                      </div>
                    </div>
                  </div>
                  <p-divider></p-divider>

                  <!-- Action -->
                  <div class="grid -mb-3 ml-1 mr-1">
                    <div class="col-2" *ngIf="!threadHdr.isLike">
                      <div (click)="likeThreadLoggedUser(threadHdr.id, i)">
                        <i class="pi pi-heart click"></i>
                        <span> {{threadHdr.counterLike}}</span>
                      </div>
                    </div>
                    <div class="col-2" *ngIf="threadHdr.isLike">
                      <div (click)="likeThreadLoggedUser(threadHdr.id, i)">
                        <i class="pi pi-heart-fill text-red-600 click"></i>
                        <span> {{threadHdr.counterLike}}</span>
                      </div>
                    </div>
                    <div class="col-2">
                      <div (click)="onClick(threadHdr.id)">
                        <i class="pi pi-comments click"></i>
                        <span> 5</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <!-- thread yang lebih dari 100 karakter -->
              <div class="card mt-3" *ngIf="threadHdr.threadContent!.length > 100">
                <div class="container">
                  <!-- Header -->
                  <div class="flex justify-content-between column-gap-4">
                    <div class="flex">
                      <div class="image-content-profile">
                        <div class="image-box-profile">
                          <img [src]="proPic" alt="" srcset="" class="profile-pic">
                        </div>
                      </div>
                    </div>
                    <div class="flex-grow-1 flex-column pt-1">
                      <p class="text-base font-medium">{{threadHdr.creatorName}}</p>
                      <p class="text-xs">{{threadHdr.createdAt| timeAgo}}</p>
                    </div>
                    <div class="flex-none " *ngIf="threadHdr.isPremium">
                      <p class="text-xs text-orange-500 font-medium"> Premium <i class="pi pi-star-fill"
                          style="font-size: 10px"></i></p>
                    </div>
                    <div class="flex-none click" >
                      <i class="pi pi-pencil font-semibold" style="font-size: 12px" (click)="toEditThread(threadHdr.id)" pTooltip="Edit Thread" tooltipPosition="bottom"></i>
                    </div>
                  </div>
                </div>
                <!-- Content -->
                <div class="grid mt-3 mr-2 ml-2">
                  <div class="col-12">
                    <span class="bold black text-heading-3">{{threadHdr.threadName}}</span>
                  </div>
                  <div class="col-12">
                    <p class="text-small">{{readMoreContent(threadHdr.threadContent!)}} <a
                        (click)="onClick(threadHdr.id)" class="font-semibold click">continue reading</a></p>
                  </div>
                  <div class="image-content" *ngIf="threadHdr.fileId!=null">
                    <div class="image-box">
                      <img [src]="'http://localhost:3333/files/'+threadHdr.fileId" alt="" alt="">
                    </div>
                  </div>
                </div>
                <p-divider></p-divider>

                <!-- Action -->
                <div class="grid -mb-3 ml-1 mr-1">
                  <div class="col-2" *ngIf="!threadHdr.isLike">
                    <div (click)="likeThreadLoggedUser(threadHdr.id, i)">
                      <i class="pi pi-heart click"></i>
                      <span> {{threadHdr.counterLike}}</span>
                    </div>
                  </div>
                  <div class="col-2" *ngIf="threadHdr.isLike">
                    <div (click)="likeThreadLoggedUser(threadHdr.id, i)">
                      <i class="pi pi-heart-fill text-red-600 click"></i>
                      <span> {{threadHdr.counterLike}}</span>
                    </div>
                  </div>
                  <div class="col-2">
                    <div (click)="onClick(threadHdr.id)">
                      <i class="pi pi-comments click"></i>
                      <span> 5</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Contoh Polling -->
            <!-- <div class="card mt-3">
              <div class="container">
                
                <div class="flex justify-content-between column-gap-4" [style]="{'margin-bottom':'-20px'}">
                  <div class="flex">
                    <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="profile-pic">
                  </div>
                  <div class="flex-grow-1">
                    <div class="grid">
                      <div class="col-12">
                        <span class="bold black text-heading-3">Muhammad Reza Firmansyah</span>
                      </div>
                    </div>
                    <div class="grid -mt-4">
                      <div class="col-12">
                        <span class="text-extrasmall">1 Hour Ago</span>
                      </div>
                    </div>
                  </div>
                  <div class="flex-none ">
                    <p class="text-xs text-orange-500 font-medium"> Premium <i class="pi pi-star-fill"
                        style="font-size: 10px"></i></p>
                  </div>
                </div>
              </div>
             
              <div class="grid mt-5 mr-2 ml-2">
                <div class="col-12">
                  <span class="bold black text-heading-3">Hati-hati bagi yang melamar kerja dibandung, terutama startup
                    online shop.</span>
                </div>
                <div class="col-12">
                  <p class="text-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptatem
                    debitis quae laboriosam non consectetur, corrupti perferendis temporibus, quos quisquam excepturi.
                    Ipsum a amet rerum perferendis corrupti? Iusto, pariatur! Omnis?
                    e, assumenda deserunt rem obcaecati dolorem quidem aperiam totam iure officia culpa adipisci
                    excepturi laborum distinctio eos perferendis enim consequuntur! Error, dignissimos voluptatibus.
                    Iure esse ducimus quam dolores perferendis ex corporis quasi animi quia id dolorum, explicabo
                    sapiente saepe vitae pariatur numquam unde. Dolore, nobis. Asperiores recusandae repellendus cumque
                    voluptas quas facilis qui.
                </div>
                <div class="col-12 polling">
                  <p class="text-sm">Menurut Kalian siapa yang terbaik?</p>
                  <div class="grid mt-2 mb-2 pr-4 pl-4">
                    <div class="col-12 flex flex-column column-gap-2 row-gap-2">
                      <button pButton pRipple type="button" class="p-button-outlined p-button-rounded w-full"
                        [disabled]="inputDisable" (click)="chooseOption()" styleClass="p-button-sm">Polling 1 Lorem
                        ipsum dolor sit amet consectetur, adipisicing elit.
                        Inventore tenetur libero, nihil, animi dolorem delectus labore quos repellat placeat eum
                        deserunt quia. Obcaecati, hic laborum saepe officiis esse aperiam nemo! </button>
                      <button pButton pRipple type="button" class="p-button-outlined p-button-rounded w-full"
                        [disabled]="inputDisable" (click)="chooseOption()" styleClass="p-button-sm">Polling 1 Lorem
                        ipsu! </button>
                      <button pButton pRipple type="button" class="p-button-outlined p-button-rounded w-full"
                        [disabled]="inputDisable" (click)="chooseOption()" styleClass="p-button-sm">Polling 1 Lorem
                        ipsu! ke 3 </button>
                    </div>
                  </div>
                  <div class="flex column-gap-5">
                    <span class="text-xs flex text-color-secondary">17 Vote</span>
                    <span class="text-xs flex text-color-secondary">Until Date</span>
                  </div>
                </div>
              </div>
              <p-divider></p-divider>

              <div class="grid -mb-3 ml-1 mr-1">
                <div class="col-2">
                  <div>
                    <i class="pi pi-heart click"></i>
                    <span> 7</span>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                    <i class="pi pi-comments click"></i>
                    <span> 5</span>
                  </div>
                </div>
              </div>
            </div> -->
          </p-tabPanel>

          <!-- All -->
          <p-tabPanel header="All">
            <div class="card mb-3">
              <div class="container">
                <div class="grid justify-content-center card-login " [style]="{'margin-bottom':'-20px'}">
                  <div class="col align-content-center">
                    <!-- form thread -->
                    <form (ngSubmit)="onSubmit()">
                      <div class="flex mb-3 column-gap-2">
                        <div class="flex">
                          <div class="image-content-profile">
                            <div class="image-box-profile">
                              <img [src]="proPic" alt="" srcset="" class="profile-pic">
                            </div>
                          </div>
                        </div>
                        <div class="flex">
                          <p-dropdown [options]="listThreadCategory.data!" [(ngModel)]="createThreadHdr.categoryId"
                            optionLabel="categoryName" optionValue="id" name="categoryName"
                            (onChange)="checkPollling($event)"></p-dropdown>
                        </div>
                      </div>
                      <div class="grid flex flex-wrap">
                        <div class="col-12">
                          <input type="text" required="true" pInputText class="w-full border-radius-20px"
                            [(ngModel)]="createThreadHdr.threadName" placeholder="Write your title thread" name="threadName" />
                        </div>
                        <div class="col-12">
                          <textarea pInputTextarea required="true" class="w-full border-radius-20px"
                            [(ngModel)]="createThreadHdr.threadContent" placeholder="Content ..."
                            name="threadContent"></textarea>
                        </div>
                      </div>
                      <p-divider></p-divider>
                      <div class="grid -mt-3 -mb-3 flex justify-content-between">
                        <div class="col-12" *ngIf="polling">
                          <div class="grid mt-1 flex flex-wrap">

                            <!-- form polling -->
                            <div class="col-12">
                              <input pInputText type="text" required="true" class="w-full border-radius-20px"
                                placeholder="Title Polling" name="pollingName"
                                [(ngModel)]="createThreadHdr.pollingName" />
                            </div>
                            <div class="col-12">
                              <div class="grid">
                                <div class="md:col-9 col-7">
                                  <input pInputText type="text" required="true" #optionLabel
                                    class="w-full border-radius-20px" placeholder="Option" />
                                </div>
                                <div class="md:col-3 col-5">
                                  <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded"
                                    (click)="addInputControl(optionLabel.value);optionLabel.value=''"></button>
                                </div>
                              </div>
                              <div class="grid" *ngFor="let polling of pollingArray; let i = index ">
                                <div class="md:col-9 col-7">
                                  <input pInputText type="text" required="true" class="w-full border-radius-20px"
                                    placeholder="Option" [value]="polling" (change)="changeValue(i, $event)" />
                                </div>
                                <div class="md:col-3 col-5">
                                  <button pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger" (click)="removeInputControl(i)"></button>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="field col-12 md:col-4">
                                <label for="time" class="text-sm">Expired</label>
                                <p-calendar [(ngModel)]="expiredPolling" [showTime]="true" [showSeconds]="true"
                                  inputId="time" name="expiredAt" [(ngModel)]="createThreadHdr.expiredAt"></p-calendar>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Action -->
                        <div class="col-12 flex justify-content-between">
                          <div class="flex">
                            <p-fileUpload mode="basic" name="file" (uploadHandler)="onChangeFile($event)"
                            chooseIcon="pi pi-image" [auto]="true" [customUpload]="true">
                          </p-fileUpload>
                          </div>
                          <div class="flex ">
                            <button pButton pRipple type="submit"
                              class="p-button-rounded p-button-sm w-full text-small bold"
                              styleClass="p-button-sm text-center" icon="pi pi-send"></button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <p-tabView>

              <!-- Thread -->
              <p-tabPanel header="Thread">
                <!-- thread -->
                <div class="thread" *ngFor="let threadHdr of listThreadHdr.data!; let i=index">
                  <!-- thread yang kurang dari 100 karakter -->
                  <div class="card mt-0 mb-3" *ngIf="threadHdr.threadContent!.length < 100">
                    <div class="container">
                      <!-- Header -->
                      <div class="flex justify-content-between column-gap-4">
                        <div class="flex">
                          <div class="image-content-profile">
                            <div class="image-box-profile">
                              <img [src]="getPhotoThread(threadHdr.photoProfileCreator!)" alt="" srcset=""
                                class="profile-pic">
                            </div>
                          </div>
                        </div>
                        <div class="flex-grow-1 flex-column pt-1">
                          <p class="text-base font-medium">{{threadHdr.creatorName}}</p>
                          <p class="text-xs">{{threadHdr.createdAt| timeAgo}}</p>
                        </div>
                        <div class="flex-none " *ngIf="threadHdr.isPremium">
                          <p class="text-xs text-orange-500 font-medium"> Premium <i class="pi pi-star-fill"
                              style="font-size: 10px"></i></p>
                        </div>
                      </div>

                    </div>
                    <!-- Content -->
                    <div class="grid mt-3 mr-2 ml-2">
                      <div class="col-12">
                        <span class="bold black text-heading-3">{{threadHdr.threadName}}</span>
                      </div>
                      <div class="col-12">
                        <p class="text-small">{{threadHdr.threadContent}}</p>
                      </div>
                    </div>
                    <p-divider></p-divider>

                    <!-- Action -->
                    <div class="grid -mb-3 ml-1 mr-1">
                      <div class="col-2" *ngIf="!threadHdr.isLike">
                        <div (click)="likeThread(threadHdr.id, i)">
                          <i class="pi pi-heart click"></i>
                          <span> {{threadHdr.counterLike!}}</span>
                        </div>
                      </div>
                      <div class="col-2" *ngIf="threadHdr.isLike">
                        <div (click)="likeThread(threadHdr.id, i)">
                          <i class="pi pi-heart-fill text-red-600 click"></i>
                          <span> {{threadHdr.counterLike!}}</span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div (click)="onClick(threadHdr.id)">
                          <i class="pi pi-comments click"></i>
                          <span> 5</span>
                        </div>
                      </div>
                      <div class="col-2 col-offset-6 text-right" *ngIf="!threadHdr.isBookmark">
                        <div (click)="bookmarkThread(threadHdr.id, i)" class="">
                          <i class="pi pi-bookmark click"></i>
                        </div>
                      </div>
                      <div class="col-2 col-offset-6 text-right" *ngIf="threadHdr.isBookmark">
                        <div (click)="bookmarkThread(threadHdr.id, i)">
                          <i class="pi pi-bookmark-fill click"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- thread yang lebih dari 100 karakter -->
                  <div class="card mt-0 mb-3" *ngIf="threadHdr.threadContent!.length > 100">
                    <div class="container">
                      <!-- Header -->
                      <div class="flex justify-content-between column-gap-4">
                        <div class="flex">
                          <div class="image-content-profile">
                            <div class="image-box-profile">
                              <img [src]="getPhotoThread(threadHdr.photoProfileCreator!)" alt="" srcset=""
                                class="profile-pic">
                            </div>
                          </div>
                        </div>
                        <div class="flex-grow-1 flex-column pt-1">
                          <p class="text-base font-medium">{{threadHdr.creatorName}}</p>
                          <p class="text-xs">{{threadHdr.createdAt| timeAgo}}</p>
                        </div>
                        <div class="flex-none " *ngIf="threadHdr.isPremium">
                          <p class="text-xs text-orange-500 font-medium"> Premium <i class="pi pi-star-fill"
                              style="font-size: 10px"></i></p>
                        </div>
                      </div>

                    </div>
                    <!-- Content -->
                    <div class="grid mt-3 mr-2 ml-2">
                      <div class="col-12">
                        <span class="bold black text-heading-3">{{threadHdr.threadName}}</span>
                      </div>
                      <div class="col-12">
                        <p class="text-small">{{readMoreContent(threadHdr.threadContent!)}} <a
                            (click)="onClick(threadHdr.id)" class="font-semibold click">continue reading</a></p>
                      </div>
                    </div>
                    <p-divider></p-divider>

                    <!-- Action -->
                    <div class="grid -mb-3 ml-1 mr-1">
                      <div class="col-2" *ngIf="!threadHdr.isLike">
                        <div (click)="likeThread(threadHdr.id, i)">
                          <i class="pi pi-heart click"></i>
                          <span> {{threadHdr.counterLike!}}</span>
                        </div>
                      </div>
                      <div class="col-2" *ngIf="threadHdr.isLike">
                        <div (click)="likeThread(threadHdr.id, i)">
                          <i class="pi pi-heart-fill text-red-600 click"></i>
                          <span> {{threadHdr.counterLike!}}</span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div (click)="onClick(threadHdr.id)">
                          <i class="pi pi-comments click"></i>
                          <span> 5</span>
                        </div>
                      </div>
                      <div class="col-2 col-offset-6 text-right" *ngIf="!threadHdr.isBookmark">
                        <div (click)="bookmarkThread(threadHdr.id, i)" class="">
                          <i class="pi pi-bookmark click"></i>
                        </div>
                      </div>
                      <div class="col-2 col-offset-6 text-right" *ngIf="threadHdr.isBookmark">
                        <div (click)="bookmarkThread(threadHdr.id, i)">
                          <i class="pi pi-bookmark-fill click"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </p-tabPanel>

              <!-- Like -->
              <p-tabPanel header="Like">
                <div class="thread" *ngFor="let threadHdrLike of listThreadHdrLike.data!; let i=index">
                  <!-- thread yang kurang dari 100 karakter -->
                  <div class="card mt-0 mb-3" *ngIf="threadHdrLike.threadContent!.length < 100">
                    <div class="container">
                      <!-- Header -->
                      <div class="flex justify-content-between column-gap-4">
                        <div class="flex">
                          <div class="image-content-profile">
                            <div class="image-box-profile">
                              <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset=""
                                class="profile-pic">
                            </div>
                          </div>
                        </div>
                        <div class="flex-grow-1 flex-column pt-1">
                          <p class="text-base font-medium">{{threadHdrLike.creatorName}}</p>
                          <p class="text-xs">{{threadHdrLike.createdAt| timeAgo}}</p>
                        </div>
                        <div class="flex-none ">
                          <p class="text-xs text-orange-500 font-medium"> Premium <i class="pi pi-star-fill"
                              style="font-size: 10px"></i></p>
                        </div>
                      </div>

                    </div>
                    <!-- Content -->
                    <div class="grid mt-3 mr-2 ml-2">
                      <div class="col-12">
                        <span class="bold black text-heading-3">{{threadHdrLike.threadName}}</span>
                      </div>
                      <div class="col-12">
                        <p class="text-small">{{threadHdrLike.threadContent}}
                      </div>
                    </div>
                    <p-divider></p-divider>

                    <!-- Action -->
                    <div class="grid -mb-3 ml-1 mr-1">
                      <div class="col-2">
                        <div (click)="likeThread(threadHdrLike.id, i)">
                          <i class="pi pi-heart-fill text-red-600 click"></i>
                          <span> {{threadHdrLike.counterLike!}}</span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div (click)="onClick(threadHdrLike.id)">
                          <i class="pi pi-comments click"></i>
                          <span> 5</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- thread yang lebih dari 100 karakter -->
                  <div class="card mt-0 mb-3" *ngIf="threadHdrLike.threadContent!.length > 100">
                    <div class="container">
                      <!-- Header -->
                      <div class="flex  justify-content-between column-gap-4">
                        <div class="flex">
                          <div class="image-content-profile">
                            <div class="image-box-profile">
                              <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset=""
                                class="profile-pic">
                            </div>
                          </div>
                        </div>
                        <div class="flex-grow-1 flex-column pt-1">
                          <p class="text-base font-medium">{{threadHdrLike.creatorName}}</p>
                          <p class="text-xs">{{threadHdrLike.createdAt| timeAgo}}</p>
                        </div>
                        <div class="flex-none ">
                          <p class="text-xs text-orange-500 font-medium"> Premium <i class="pi pi-star-fill"
                              style="font-size: 10px"></i></p>
                        </div>
                      </div>

                    </div>
                    <!-- Content -->
                    <div class="grid mt-3 mr-2 ml-2">
                      <div class="col-12">
                        <span class="bold black text-heading-3">{{threadHdrLike.threadName}}</span>
                      </div>
                      <div class="col-12">
                        <p class="text-small">{{readMoreContent(threadHdrLike.threadContent!)}} <a
                            (click)="onClick(threadHdrLike.id)" class="font-semibold click">continue reading</a></p>
                      </div>
                    </div>
                    <p-divider></p-divider>

                    <!-- Action -->
                    <div class="grid -mb-3 ml-1 mr-1">
                      <div class="col-2">
                        <div (click)="likeThread(threadHdrLike.id, i)">
                          <i class="pi pi-heart-fill text-red-600 click"></i>
                          <span> {{threadHdrLike.counterLike!}}</span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div (click)="onClick(threadHdrLike.id)">
                          <i class="pi pi-comments click"></i>
                          <span> 5</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </p-tabPanel>

              <!-- Bookmark -->
              <p-tabPanel header="Bookmark">
                <div class="thread" *ngFor="let threadHdr of bookmarkdata$ | async; let i=index">
                  <div class="card mt-0 mb-3">
                    <div class="container">
                      <!-- Header -->
                      <div class="flex justify-content-between column-gap-4">
                        <div class="flex">
                          <div class="image-content-profile">
                            <div class="image-box-profile">
                              <img [src]="getPhotoThread(threadHdr.photoProfileCreator!)" alt="" srcset=""
                                class="profile-pic">
                            </div>
                          </div>
                        </div>
                        <div class="flex-grow-1 flex-column pt-1">
                          <p class="text-base font-medium">{{threadHdr.creatorName}}</p>
                          <p class="text-xs">{{threadHdr.createdAt| timeAgo}}</p>
                        </div>
                        <div class="flex-none" *ngIf="threadHdr.isPremium">
                          <p class="text-xs text-orange-500 font-medium"> Premium <i class="pi pi-star-fill"
                              style="font-size: 10px"></i></p>
                        </div>
                      </div>
                    </div>
                    <!-- Content -->
                    <div class="grid mt-3 mr-2 ml-2">
                      <div class="col-12">
                        <span class="bold black text-heading-3">{{threadHdr.threadName}}</span>
                      </div>
                      <div class="col-12">
                        <p class="text-small">{{threadHdr.threadContent}}
                      </div>
                    </div>
                    <p-divider></p-divider>

                    <!-- Action -->
                    <div class="grid  -mb-3 ml-1 mr-1">
                      <div class="col-2">
                        <div (click)="onClick(threadHdr.id)">
                          <i class="pi pi-comments click"></i>
                          <span> 5</span>
                        </div>
                      </div>
                      <div class="col-2 col-offset-8 text-right">
                        <div (click)="bookmarkThread(threadHdr.id, i)">
                          <i class="pi pi-bookmark-fill click"></i>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>

    <!-- Halaman Sebelah Kanan -->
    <div class="md:col-3 col-12 right-page pl-0">
      <home-right-page></home-right-page>
    </div>
  </div>
</div>
