.profile-pic{
    height: 50px;
    border-radius: 50%;
}

.border-radius-20px{
    border-radius: 20px;
}
.color-black{
    color: black;
}

.color-bg-yellow:hover{
    background: #DAA300;
    color: black;
}
.color-bg-yellow{
    background: #DAA300;
}

.event-pic{
    height: 80px;
    border-radius: 10px;
}
.card-thread{
    margin-top: -30px;
}

.btnClick{
    cursor: pointer;
}
.click{
    cursor: pointer;
}

.btnClick:hover{
    opacity: 0.5;
}

.image-content{
    height: 100%;
    width: 100%;
}

.image-box{
    max-height: 200px;
    max-width:300px;
    object-fit: cover;
}
.image-box img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-none:hover, .bg-none:focus,.bg-none:active{
    border: none;    
    background-color: none;
}

.polling{
    padding: 20px;
    background-color: rgb(244, 243, 243);
    border-radius: 20px;
}

.image-content-login{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.image-box-profile{
    height: 100%;
    width: 100%;
}
.image-box-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.image-content-profile{
    height: 50px;
    width:50px;
    object-fit: cover;
}
