<div class="container mt-3">
  <div class="grid">

    <!-- Halaman Sebelah Kiri -->
    <div class="md:col-3 left-page col-12">
      <div class="card">
        <div class="container">
          <div class="grid justify-content-center card-login " [style]="{'margin-bottom':'-20px'}">
            <div class="col align-content-center">
              <div class="grid">
                <div class="col-12">
                  <div class="grid justify-content-center mt-1">
                    <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset=""
                      class="upload-profile-pic">
                  </div>
                </div>
                <div class="col-12">
                  <div class="grid justify-content-center mt-1">
                    <div class="md:col-10 sm:col-12">
                      <span class="bold-medium color-black text-heading-2">Muhammad Tulus</span>
                      <p class="text-extrasmall bold-medium">Human Resource Development</p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="grid" [style]="{ 'margin-top':'12px'}">
                  <div class="col-12">
                    <span class="bold-medium color-black text-extrasmall">Email</span>
                    <p class="text-extrasmall bold-medium" [style]="{'margin-top':'0px'}">Email@email.com</p>
                  </div>
                </div>
                <div class="grid">
                  <div class="col-12">
                    <span class="bold-medium color-black text-extrasmall">Phone Number</span>
                    <p class="text-extrasmall bold-medium" [style]="{'margin-top':'0px'}">082193812917</p>
                  </div>
                </div>
                <div class="grid justify-content-center" [style]="{ 'margin-top':'8px'}">
                  <div class="md:col-6 sm:col-12">
                    <a href="">Edit Profile</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Halaman Tengah -->
    <div class="md:col-6 middle-page col-12">
      <div class="container">
        <p-tabView>

          <!-- My Activities -->
          <p-tabPanel header="My Activities">
            <div class="card">
              <div class="container">
                <div class="grid justify-content-center card-login " [style]="{'margin-bottom':'-20px'}">
                  <div class="col align-content-center">

                    <!-- form thread -->
                    <form (ngSubmit)="onSubmit()">
                      <div class="grid">
                        <div class="col-2">
                          <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset=""
                            class="profile-pic">
                        </div>
                        <div class="col-2">
                          <p-dropdown [options]="listThreadCategory.data!"  [(ngModel)]="createThreadHdr.categoryId" optionLabel="categoryName" optionValue="id" name="categoryName"></p-dropdown>
                        </div>
                      </div>
                      <div class="grid flex flex-wrap">
                        <div class="col-12">
                          <input type="text" required="true" pInputText class="w-full border-radius-20px"  [(ngModel)]="createThreadHdr.threadName" placeholder="Title" name="threadName" />
                        </div>
                        <div class="col-12">
                          <textarea pInputTextarea required="true" class="w-full border-radius-20px" [(ngModel)]="createThreadHdr.threadContent" placeholder="Content" name="threadCode"></textarea>
                        </div>
                      </div>
                      <p-divider></p-divider>
                      <div class="grid -mt-3 -mb-3">
                        <div class="col-1">
                          <p-fileUpload mode="basic" name="file" (uploadHandler)="onChangeFile($event)" chooseIcon="pi pi-image" [auto]="true" [customUpload]="true" >                           
                          </p-fileUpload>
                          <!-- <button pButton pRipple type="button" icon="pi pi-image"
                            class="p-button-rounded p-button-help p-button-text"></button> -->
                        </div>
                        <div class="col-1">
                          <button pButton pRipple type="button" icon="pi pi-bars"
                            class="p-button-rounded p-button-help p-button-text"></button>
                        </div>
                        <div class="col-2 col-offset-8">
                          <button pButton pRipple type="submit"
                            class="p-button-rounded p-button-sm color-bg-yellow w-full text-small color-black bold"
                            styleClass="p-button-sm text-center" label="Post"></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- thread -->
            <div class="thread" *ngFor="let threadHdr of listThreadHdrByUserLogged.data; let i=index">
              <div class="card click mt-3" (click)="onClick(threadHdr.id)">
                <div class="container">
                  <!-- Header -->
                  <div class="grid card-login " [style]="{'margin-bottom':'-20px'}">
                    <div class="col-2">
                      <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="profile-pic">
                    </div>
                    <div class="col-10">
                      <div class="grid">
                        <div class="col-12">
                          <span class="bold black text-heading-3">{{threadHdr.creatorName}}</span>
                        </div>
                      </div>
                      <div class="grid -mt-4">
                        <div class="col-12">
                          <span class="text-extrasmall">{{threadHdr.createdAt| date: 'medium'}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <!-- Content -->
                  <div class="grid mt-3 mr-2 ml-2">
                    <div class="col-12">
                      <span class="bold black text-heading-3">{{threadHdr.threadName}}</span>
                    </div>
                    <div class="col-12">
                      <p class="text-small">{{threadHdr.threadContent}} </div>
                        <div class="image-content" *ngIf="threadHdr.fileId!=null">
                          <div class="image-box">
                            <img [src]="'http://localhost:3333/files/'+threadHdr.fileId" alt="" alt="">
                          </div>
                        </div>
                  </div>
                  <p-divider></p-divider>

                  <!-- Action -->
                  <div class="grid -mt-5 -mb-5">
                    <div class="col-2">
                      <button pButton pRipple type="button" icon="pi pi-heart"
                        class="p-button-rounded p-button-help p-button-text" label="{{threadHdr.counterLike}}" (click)="likeThreadLoggedUser(threadHdr.id, i)"></button>
                    </div>
                    <div class="col-2">
                      <button pButton pRipple type="button" icon="pi pi-comment"
                        class="p-button-rounded p-button-warning p-button-text" label="5"></button>
                    </div>
                    <div class="col-2 col-offset-6">
                      <button pButton pRipple type="button" icon="pi pi-bookmark"
                        class="p-button-rounded p-button-secondary p-button-text" (click)="bookmarkThread(threadHdr.id)"></button>
                    </div>
                  </div>
                </div>
              </div>
          </p-tabPanel>

          <!-- All -->
          <p-tabPanel header="All">
            <div class="card">
              <div class="container">
                <div class="grid justify-content-center card-login " [style]="{'margin-bottom':'-20px'}">
                  <div class="col align-content-center">
                    <!-- form thread -->
                    <form (ngSubmit)="onSubmit()">
                      <div class="grid">
                        <div class="col-2">
                          <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset=""
                            class="profile-pic">
                        </div>
                        <div class="col-2">
                          <p-dropdown [options]="listThreadCategory.data!" [(ngModel)]="createThreadHdr.categoryId" optionLabel="categoryName" optionValue="id" name="categoryName"></p-dropdown>
                        </div>
                      </div>
                      <div class="grid flex flex-wrap">
                        <div class="col-12">
                          <input type="text" required="true" pInputText class="w-full border-radius-20px"  [(ngModel)]="createThreadHdr.threadName" placeholder="Title" name="threadName" />
                        </div>
                        <div class="col-12">
                          <textarea pInputTextarea required="true" class="w-full border-radius-20px" [(ngModel)]="createThreadHdr.threadContent" placeholder="Content" name="threadCode"></textarea>
                        </div>
                      </div>
                      <p-divider></p-divider>
                      <div class="grid -mt-3 -mb-3">
                        <div class="col-1">
                          <button pButton pRipple type="button" icon="pi pi-image"
                            class="p-button-rounded p-button-help p-button-text"></button>
                        </div>
                        <div class="col-1">
                          <button pButton pRipple type="button" icon="pi pi-bars"
                            class="p-button-rounded p-button-help p-button-text"></button>
                        </div>
                        <div class="col-2 col-offset-8">
                          <button pButton pRipple type="submit"
                            class="p-button-rounded p-button-sm color-bg-yellow w-full text-small color-black bold"
                            styleClass="p-button-sm text-center" label="Post"></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <p-tabView>
              <p-tabPanel header="Thread">
                <!-- thread -->
                <div class="thread" *ngFor="let threadHdr of listThreadHdr.data!; let i=index">
                <div class="card click mt-3" (click)="onClick(threadHdr.id)">
                  <div class="container">
                    <!-- Header -->
                    <div class="grid card-login " [style]="{'margin-bottom':'-20px'}">
                      <div class="col-2">
                        <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="profile-pic">
                      </div>
                      <div class="col-10">
                        <div class="grid">
                          <div class="col-12">
                            <span class="bold black text-heading-3">{{threadHdr.creatorName}}</span>
                          </div>
                        </div>
                        <div class="grid -mt-4">
                          <div class="col-12">
                            <span class="text-extrasmall">{{threadHdr.createdAt| date: 'medium'}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- Content -->
                    <div class="grid mt-3 mr-2 ml-2">
                      <div class="col-12">
                        <span class="bold black text-heading-3">{{threadHdr.threadName}}</span>
                      </div>
                      <div class="col-12">
                        <p class="text-small">{{threadHdr.threadContent}} </div>
                    </div>
                    <p-divider></p-divider>

                    <!-- Action -->
                    <div class="grid -mt-5 -mb-5">
                      <div class="col-2">
                        <button pButton pRipple type="button" icon="pi pi-heart"
                          class="p-button-rounded p-button-help p-button-text" label="{{threadHdr.counterLike!}}" (click)="likeThread(threadHdr.id, i)"></button>
                      </div>
                      <div class="col-2">
                        <button pButton pRipple type="button" icon="pi pi-comment"
                          class="p-button-rounded p-button-warning p-button-text" label="5"></button>
                      </div>
                      <div class="col-2 col-offset-6">
                        <button pButton pRipple type="button" icon="pi pi-bookmark"
                          class="p-button-rounded p-button-secondary p-button-text" (click)="bookmarkThread(threadHdr.id)"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Like">
                <div class="thread" *ngFor="let threadHdrLike of listThreadHdrLike.data!; let i=index">
                  <div class="card mt-3">
                    <div class="container">
                      <!-- Header -->
                      <div class="grid card-login " [style]="{'margin-bottom':'-20px'}">
                        <div class="col-2">
                          <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="profile-pic">
                        </div>
                        <div class="col-10">
                          <div class="grid">
                            <div class="col-12">
                              <span class="bold black text-heading-3">{{threadHdrLike.creatorName}}</span>
                            </div>
                          </div>
                          <div class="grid -mt-4">
                            <div class="col-12">
                              <span class="text-extrasmall">{{threadHdrLike.createdAt| date: 'medium'}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      <!-- Content -->
                      <div class="grid mt-3 mr-2 ml-2">
                        <div class="col-12">
                          <span class="bold black text-heading-3">{{threadHdrLike.threadName}}</span>
                        </div>
                        <div class="col-12">
                          <p class="text-small">{{threadHdrLike.threadContent}} </div>
                      </div>
                      <p-divider></p-divider>
  
                      <!-- Action -->
                      <div class="grid -mt-5 -mb-5">
                        <div class="col-2">
                          <button pButton pRipple type="button" icon="pi pi-heart"
                            class="p-button-rounded p-button-help p-button-text" label="{{threadHdrLike.counterLike!}}" (click)="likeThread(threadHdrLike.id, i)"></button>
                        </div>
                        <div class="col-2">
                          <button pButton pRipple type="button" icon="pi pi-comment"
                            class="p-button-rounded p-button-warning p-button-text" label="5"></button>
                        </div>
                        <div class="col-2 col-offset-6">
                          <button pButton pRipple type="button" icon="pi pi-bookmark"
                            class="p-button-rounded p-button-secondary p-button-text" (click)="bookmarkThread(threadHdrLike.id)"></button>
                        </div>
                      </div>
                    </div>
                  </div>
              </p-tabPanel>
              <p-tabPanel header="Bookmark">
                Content 3
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    
    <!-- Halaman Sebelah Kanan -->
    <div class="md:col-3 col-12 right-page">
      <div class="grid justify-content-center">
        <div class="col-12 mt-1">
          <span class="bold text-heading-3">Event for you</span>
        </div>
      </div>
      <div class="card-transparent">
        <div class="container">
          <div class="grid justify-content-center" *ngFor="let event of listEvent.data">
            <div class="col align-content-center">
              <div class="grid btnClick" [style]="{ 'margin-top':'-20px'}" [routerLink]="'/communities/detail/'+event.id">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">{{event.title}}</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">{{event.provider}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Training -->
      <div class="grid justify-content-center">
        <div class="col-12 mt-1">
          <span class="bold text-heading-3">Training for you</span>
        </div>
      </div>
      <div class="card-transparent" >
        <div class="container">
          <div class="grid justify-content-center" *ngFor="let training of listTraining.data; let i=index">
            <div class="col align-content-center">
              <div class="grid btnClick" [style]="{ 'margin-top':'-20px'}" [routerLink]="'/communities/detail/'+training.id">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">{{training.title}}</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">{{training.provider}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- percobaan yang premium thread -->
<!-- <p>{{kalimat}}</p>
<h1>-----</h1>
<p>{{textAfterMultiply}}</p> -->