<div class="container">
    <div class="grid justify-content-center mt-2">
      <div class="col-12 px-7">
        <span class="back click" (click)="back()"><i class="pi pi-angle-left"></i>Back to all</span>
      </div>
      <p-progressSpinner *ngIf="showSpinner==true"></p-progressSpinner>
      <div class="col-12  px-7">
            <div class="card" *ngIf="showSpinner==false">
                <div class="container">
                    <div class="flex flex-column">
                    <!-- form thread -->
                    <form (ngSubmit)="onSubmit()">
                        <div class="grid flex mb-5">
                          <div class="col-3">
                            <p-dropdown [options]="listThreadCategory!" [(ngModel)]="req.categoryId"
                              optionLabel="categoryName" optionValue="id" name="categoryId"></p-dropdown>
                          </div>
                        </div>
                        <div class="grid flex flex-wrap">
                          <div class="col-12">
                            <input type="text" required="true" pInputText class="w-full border-radius-20px"
                              [(ngModel)]="req.threadName" placeholder="Title" name="threadName" />
                          </div>
                          <div class="col-12">
                            <textarea pInputTextarea required="true" class="w-full border-radius-20px"
                              [(ngModel)]="req.threadContent" placeholder="Content" rows="7"
                              name="threadContent" ></textarea>
                          </div>
                        </div>
                        <!-- Action -->
                        <div class="grid justify-content-end">
                          <div class="md:col-2 col-4">
                            <button pButton pRipple type="submit"
                              class="p-button-rounded p-button-sm color-bg-yellow w-full text-small color-black bold"
                              styleClass="p-button-sm text-center" label="Post"></button>
                          </div>
                        </div>
                      </form>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>