<p class="text-sm font-semibold ml-3 text-teal-800"><i class="pi pi-cog"></i> Settings</p>
<div class="card mt-3">
    <div class="container">
        <div class="grid">
            <div class="col-12">
                <span class="font-semibold text-sm click"  (click)="editProfile()">Edit Profile</span>
            </div>
            <div class="col-12">
                <span class="font-medium text-sm text-500 click" (click)="editPassword()">Edit Password</span>
            </div>
        </div>
    </div>
</div>
