.event-pic{
    max-width: 100%;
    max-height: 150px;
    height:auto;
    border-radius: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.color-black{
    color: black;
}

.color-bg-yellow:hover{
    background: #DAA300;
    color: black;
}
.color-bg-yellow{
    background: #DAA300;
}

.event-card{
    color: none;
    background-color: none;
    text-decoration: none;
}

.event-card:visited{
    color: rgb(58, 58, 58);
}