<div class="container">
  <div class="grid mt-3">
    <div class="col-12">
      <a routerLink="/home-member"><i class="pi pi-angle-left"></i>Back to all event</a>
    </div>
  </div>
  <div class="grid">
    <!-- Halaman Kiri -->
    <div class="md:col-9 col-12">
      <div class="grid">

        <div class="col-12">
          <!-- Card Event -->
          <div class="card">
            <div class="container">

              <!-- header -->
              <div class="grid flex flex-wrap justify-content-start row-gap-0">
                <div class="md:col-6 col-12">
                  <img src="../../../../assets/image/tips-memulai-bisnis-startup.jpg" alt="" srcset=""
                    class="event-pic">
                </div>
                <div class="md:col-6 col-12">
                  <div class="grid">
                    <div class="col-12">
                      <p class="text-lg font-semibold">Acumen Presents: Chris Anderson on Public Speaking</p>
                    </div>
                  </div>
                  <div class="grid mt-3">
                    <div class="col-12">
                      <div class="grid">
                        <div class="col-1">
                          <i class="pi pi-users color-purple" style="font-size: 1rem"></i>
                        </div>
                        <div class="col-11">
                          <p class="text-800 font-medium text-base"> Provider Name</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="grid">
                        <div class="col-1">
                          <i class="pi 
                            pi-money-bill color-purple" style="font-size: 12px"></i>
                        </div>
                        <div class="col-11">
                          <p class="color-yellow font-semibold text-lg"> Rp. 400.000</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="grid">
                        <div class="col-1">
                          <i class="pi pi-calendar color-purple" style="font-size: 12px"></i>
                        </div>
                        <div class="col-11">
                          <p class="text-800 font-medium text-base"> Start Date</p>
                          <p class="mt-2 text-800 font-medium text-base"> End Date</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="grid">
                        <div class="col-1">
                          <i class="pi pi-circle-fill color-purple" style="font-size: 12px"></i>
                        </div>
                        <div class="col-11">
                          <p class="text-800 font-medium text-base">Location</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Content -->
              <div class="grid mt-4 flex flex-wrap justify-content-start row-gap-0">
                <div class="col-12">
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae mollitia cum impedit, velit expedita, numquam similique voluptatem ea repellat perferendis quod totam eligendi minus accusamus esse, earum eum nihil quaerat! 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quasi qui amet, at facilis in nisi placeat doloribus vero asperiores. Laboriosam vero alias delectus ipsam saepe facere quos nobis dolorem.
                    Alias et sed officiis facere corporis facilis praesentium consequuntur iusto! Commodi tempore sit non molestias rerum doloribus beatae, harum perferendis ducimus placeat omnis quod, vitae veritatis aperiam aliquam officiis necessitatibus!
                    Aut labore ipsum similique accusamus assumenda, ipsam excepturi sapiente dolore nam voluptate rerum ut quis debitis, dicta enim voluptatum temporibus, laboriosam rem sunt doloremque nulla hic tempore maxime. Vel, nesciunt!
                  </p>
                </div>
              </div>

              <!-- Action -->
              <div class="grid mt-4 flex flex-wrap justify-content-end row-gap-0">
                <div class="md:col-5 col-12">
                  <button pButton pRipple type="submit"
                  class="p-button-rounded p-button-sm color-bg-yellow w-full text-small color-black bold"
                  styleClass="p-button-sm text-center" label="Next to Payment >"></button>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Halaman Kanan -->
    <div class="md:col-3 col-12 right-page">
      <div class="grid justify-content-center">
        <div class="col-12 mt-1">
          <span class="bold text-heading-3">Training for you</span>
        </div>
      </div>
      <div class="card-transparent">
        <div class="container">
          <!-- event 1 -->
          <div class="grid justify-content-center">
            <div class="col align-content-center">
              <div class="grid" [style]="{ 'margin-top':'-20px'}">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">Title Training</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">Provider Training</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- event 1 -->
          <div class="grid justify-content-center">
            <div class="col align-content-center">
              <div class="grid" [style]="{ 'margin-top':'-20px'}">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">Title Training</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">Provider Training</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- event 1 -->
          <div class="grid justify-content-center">
            <div class="col align-content-center">
              <div class="grid" [style]="{ 'margin-top':'-20px'}">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">Title Training</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">Provider Training</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
