
<footer class="flex align-items-center justify-content-center" [style]="{'margin-top':'20px'}">
    <div class="grid">
        <div class="col">
            <div class="grid">
                <div>
                    <img src="../../../assets/image/logo-filos-1.png" alt="" height="25">
                </div>
                <div [style]="{'margin-left':'10px'}">
                    <span class="text-extrasmall">Copyright</span>
                </div>
            </div>
        </div>
    </div>
</footer>