

.color-black{
    color: black;
}

.color-bg-yellow:hover{
    background: #DAA300;
    color: black;
}
.color-bg-yellow{
    background: #DAA300;
}

.event-card{
    color: none;
    background-color: none;
    text-decoration: none;
}

.event-card:visited{
    color: rgb(58, 58, 58);
}
.profile-pic{
    height: 60px;
    border-radius: 50%;
}
.btnClick{
    cursor: pointer;
}
.image-content{
    height: 100%;
    width: 100%;
  }
.image-box{
    width:410px;
    object-fit: cover;
    object-position: center;
}
.event-pic{
    max-width: 100%;
    height:auto;
    border-radius: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
    .image-box{
        height:200px;
        width:300px;
        object-fit: cover;
    }
    .card-community{
        height: 490px;
    }
  }
