<div class="layout-topbar">
  <div class="p-link layout-menu-button layout-topbar-button" (click)="appMain.toggleMenu($event)">
    <i class="pi pi-bars"></i>
  </div>

  <div class="p-link layout-topbar-menu-button layout-topbar-button" (click)="appMain.toggleTopMenu($event)">
    <p-avatar [image]="proPic" size="large" shape="circle"></p-avatar>
  </div>

  <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-active':appMain.topMenuActive}">
    <span class="p-link layout-topbar-button" routerLink="/home-member">
      <i class="pi pi-home"></i>
      <p>Go to main home</p>
    </span>
    <span class="p-link layout-topbar-button" (click)="logOut()">
      <i class="pi pi-sign-out"></i>
      <p>Log Out</p>
    </span>
  </div>
</div>
