<p-menubar  [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../assets/image/logo-filos-1.png" height="40" class="mr-2">
    </ng-template>  >   
    <ng-template pTemplate="end">
        <button pButton pRipple type="button" label="Sign in" class="p-button-rounded  p-button-sm color-bg-yellow w-full text-small color-black bold 
        font-bold" (click)="login()" *ngIf="!isLogin"></button>
        <button  class="p-link layout-topbar-menu-button layout-topbar-button" (click)="showNav()" *ngIf="isLogin">    
            <p-avatar [image]="config.proImg!" size="large" shape="circle"></p-avatar></button>
    </ng-template>
</p-menubar>
<div class="layout-topbar-menu" [ngClass]="{'show':topMenuActive , 'hidden':!topMenuActive}">
    <div class="flex flex-column row-gap-3" *ngIf="isLogin">
        <div class="flex">
            <button class="p-link layout-topbar-button" (click)="settings()">
                <i class="pi pi-cog text-sm"></i>
                <span class="text-sm"> Settings</span>
              </button>
        </div>
        <div class="flex">
            <button class="p-link layout-topbar-button" (click)="logout()"  *ngIf="isLogin">
                <i class="pi pi-sign-out text-sm font-semibold text-red-700"></i>
                <span class="text-sm font-semibold text-red-700"> Log Out</span>
              </button>
        </div>
    </div>
    <div class="flex flex-column row-gap-3" *ngIf="!isLogin">
        <div class="flex">
            <button class="p-link layout-topbar-button" (click)="login()">
                <i class="pi pi-sign-in text-sm font-semibold text-red-700"></i>
                <span class="text-sm font-semibold text-red-700"> Log In</span>
              </button>
        </div>
    </div>
  </div>