.click{
    cursor: pointer;
  }
  .border-radius-20px{
    border-radius: 20px;
}
.color-black{
    color: black;
}

.color-bg-yellow:hover{
    background: #DAA300;
    color: black;
}
.color-bg-yellow{
    background: #DAA300;
}