<div class="container">
  <div class="grid mt-3">
    <div class="md:col-3 col-12">
      <menu-profile></menu-profile>
    </div>
    <div class="md:col-9 col-12">
      <p class="text-sm font-semibold ml-3 text-teal-800"><i class="pi pi-lock"></i> Edit Password</p>
      <div class="card mt-3">
        <div class="container">
          <form (ngSubmit)="updatePass()" ngnativevalidate #form="ngForm">
            <div class="grid">

              <div class="md:col-6 col-12">
                <label for="oldPass" class="block text-sm ml-3">Old Password</label>
                <input type="password" pPassword [feedback]="false" class="w-full border-radius-20px" name="oldPass"
                  id="oldPass" [(ngModel)]="req.oldPass" required />
              </div>

              <div class="md:col-6 col-12">
                <label for="newPass" class="block text-sm ml-3">New Password</label>
                <input type="password" pPassword [feedback]="false" class="w-full border-radius-20px" name="newPass"
                  id="newPass" [(ngModel)]="req.newPass" required />
              </div>
            </div>

            <div class="col-12">
              <div class="grid justify-content-end">
                <div class="md:col-2 col-6">
                  <button pButton pRipple type="submit" styleClass="p-button-sm text-center" label="Change"
                    class="p-button-rounded p-button-sm color-bg-yellow w-full text-small color-black bold"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
