<div class="container">
  <div class="grid mt-3">

    <div class="md:col-3 col-12">
      <menu-profile></menu-profile>
    </div>
    <div class="md:col-9 col-12">
      <p class="text-sm font-semibold ml-3 text-teal-800"><i class="pi pi-lock"></i> Edit Password</p>

      <!-- Edit Password -->
      <div class="card mt-3">
        <div class="container">
          <form action="">
            <div class="grid">

              <!-- Old Pass -->
              <div class="md:col-6 col-12">
                <label for="inputOldPass" class="block text-sm ml-3">Old Password</label>
                <input type="password" pPassword [feedback]="false" id="inputOldPass" class="w-full border-radius-20px"
                  [(ngModel)]="password" name="password" />
              </div>

              <!-- New Pass -->
              <div class="md:col-6 col-12">
                <label for="inputNewPass" class="block text-sm ml-3">New Password</label>
                <input type="password" pPassword [feedback]="false" id="inputNewPass" class="w-full border-radius-20px"
                  [(ngModel)]="confirmPassword" name="password" />
                <label class="text-xs ml-3 text-red-600" *ngIf="password!=confirmPassword">Passwords don't
                  match!</label>
              </div>
            </div>

            <!-- Action Save Edit Pass -->
            <div class="col-12">
              <div class="grid justify-content-end">
                <div class="md:col-2 col-6">
                  <button pButton pRipple type="submit"
                    class="p-button-rounded p-button-sm color-bg-yellow w-full text-small color-black bold"
                    styleClass="p-button-sm text-center" label="Change"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
