<div class="container">
  <div class="grid mt-2 flex justify-content-end flex-wrap">
    <div class="md:col-1 col-3">
      <button pButton pRipple type="submit" class="p-button-rounded p-button-sm  w-full text-small bold"
        styleClass="p-button-sm text-center" icon="pi pi-plus" label="Add" routerLink="/events/event-add"></button>
    </div>
    <div class="md:col-2 col-6">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Search" class="w-full" />
      </span>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <p-tabView>
        <!-- All Event -->
        <p-tabPanel header="All Event">
          <div class="grid">
            <div class="md:col-3 col-12" *ngFor="let event of listCommunity.data">

              <!-- Card Event -->
              <!-- <a class="event-card" (click)="onClick(event.id)"> -->
                <div class="card btnClick" (click)="onClick(event.id)">
                  <div class="container">
                    <div class="grid justify-content-center -mt-3" [style]="{'margin-bottom':'-20px'}">
                      <div class="col-12 flex justify-content-center">
                        <div class="image-content">
                          <div class="image-box">
                            <img src="http://localhost:3333/files/{{event.idFile}}" alt="" class="event-pic">
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <span class="bold-medium black text-xs"> <i class="pi pi-users color-purple"
                            style="font-size: 1rem"></i> {{event.provider}}</span>
                      </div>
                    </div>
                    <div class="grid justify-content-center mt-3" [style]="{'margin-bottom':'-20px', 'height':'80px'}">
                      <div class="col-12">
                        <span class="bold black text-sm title">{{event.title}}</span>
                      </div>
                    </div>
                    <div class="grid justify-content-center -mt-3" [style]="{'margin-bottom':'-20px'}">
                      <div class="col-12">
                        <span class="bold black text-xs"> <i class="pi 
                        pi-money-bill color-purple" style="font-size: 12px"></i> Rp.{{event.price}}</span>
                      </div>
                      <div class="col-12">
                        <div class="grid">
                          <div class="col-12 pb-0">
                            <i class="pi pi-calendar color-purple" style="font-size: 12px"></i>
                            <span class="black text-xs"> {{event.startAt}} s/d</span>
                          </div>
                          <div class="col-12 ml-3 pt-0">
                            <span class="black text-xs"> {{event.endAt}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <span class="black text-xs"> <i class="pi pi-circle-fill color-purple"
                            style="font-size: 12px"></i> {{event.location}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- </a> -->

            </div>
          </div>
        </p-tabPanel>

        <!-- All Training -->
        <p-tabPanel header="All Training">
          <div class="grid">
            <div class="md:col-3 col-12" *ngFor="let training of listCommunity.data">

              <!-- Card Training -->
                <div class="card btnClick" (click)="onClick(training.id)">
                  <div class="container">
                    <div class="grid justify-content-center -mt-3" [style]="{'margin-bottom':'-20px'}">
                      <div class="col-12 flex justify-content-center">
                        <div class="image-content">
                          <div class="image-box">
                            <img src="http://localhost:3333/files/{{training.idFile}}" alt="" class="event-pic">
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <span class="bold-medium black text-xs"> <i class="pi pi-users color-purple"
                            style="font-size: 1rem"></i> {{training.provider}}</span>
                      </div>
                    </div>
                    <div class="grid justify-content-center mt-3" [style]="{'margin-bottom':'-20px', 'height':'80px'}">
                      <div class="col-12">
                        <span class="bold black text-sm title">{{training.title}}</span>
                      </div>
                    </div>
                    <div class="grid justify-content-center -mt-3" [style]="{'margin-bottom':'-20px'}">
                      <div class="col-12">
                        <span class="bold black text-xs"> <i class="pi 
                        pi-money-bill color-purple" style="font-size: 12px"></i> Rp.{{training.price}}</span>
                      </div>
                      <div class="col-12">
                        <div class="grid">
                          <div class="col-12 pb-0">
                            <i class="pi pi-calendar color-purple" style="font-size: 12px"></i>
                            <span class="black text-xs"> {{training.startAt}} s/d</span>
                          </div>
                          <div class="col-12 ml-3 pt-0">
                            <span class="black text-xs"> {{training.endAt}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <span class="black text-xs"> <i class="pi pi-circle-fill color-purple"
                            style="font-size: 12px"></i> {{training.location}}</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="My Schedule">
        </p-tabPanel>

        <!-- All -->

      </p-tabView>

    </div>
  </div>
</div>
