.color-black{
    color: black;
}

.color-bg-yellow:hover{
    background: #DAA300;
    color: black;
}
.color-bg-yellow{
    background: #DAA300;
}

.event-card{
    color: none;
    background-color: none;
    text-decoration: none;
}

.event-card:visited{
    color: rgb(58, 58, 58);
}

.image-content{
  height: 100%;
  width: 100%;
}
.title{
    line-height: 1.5rem;
    max-height: calc(1.5rem);
    overflow: hidden;
}

@media (max-width: 992px) {
    .image-box{
        height:200px;
        width:300px;
        object-fit: cover;
    }
    .card{
        height: 490px;
        cursor: pointer;
    }
  }

@media (min-width: 1200px) {
    .image-box{
        height:170px;
        width:250px;
        object-fit: cover;
        object-position: center;
    }
    .card{
        height: 490px;
        cursor: pointer;
    }
    
}
  
@media (min-width: 1400px) {
    .image-box{
        height:170px;
        width:250px;
        object-fit: cover;
        object-position: center;
    }
  } 
.image-box img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

