<div class="container">
  <div class="grid mt-2 md:mr-1 flex justify-content-end flex-wrap">
    <div class="md:col-1 col-3">
      <button pButton pRipple type="submit" class="p-button-rounded p-button-sm  text-small bold"
        styleClass="p-button-sm text-center" icon="pi pi-plus" label="Add" routerLink="/communities/add"></button>
    </div>
    <div class="md:col-1 col-3">
      <button pButton pRipple type="submit" class="p-button-rounded p-button-secondary p-button-sm text-small bold"
        styleClass="p-button-sm text-center" icon="pi pi-flag" label="Report" routerLink="/communities/report"></button>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <p-tabView>
        <!-- All Event -->
        <p-tabPanel header="All Event">
           
          <div class="grid mt-4 justify-content-center" *ngIf="showSpinner==true">
            <p-progressSpinner class="flex justify-content-center"></p-progressSpinner>
          </div>

          <div class="grid" *ngIf="showSpinner==false">
            <div class="md:col-3 col-12" *ngFor="let event of listEvent.data">
              <!-- Card Event -->
                <div class="card card-community btnClick" (click)="onClick(event.id)">
                  <div class="container">
                    <div class="grid justify-content-center -mt-3">
                      <div class="col-12 flex justify-content-center">
                        <div class="image-content">
                          <div class="image-box mx-auto">
                            <img [src]="getCommPic(event.idFile!)" alt="" class="event-pic">
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <span class="bold-medium black text-xs"> <i class="pi pi-users color-purple"
                            style="font-size: 1rem"></i> {{event.provider}}</span>
                      </div>
                      <div class="surface-overlay white-space-nowrap overflow-hidden text-overflow-ellipsis title pl-2 mb-2 mr-auto" >
                          <span class="bold black text-sm title">{{event.title}}</span>
                      </div>
                      <div class="col-12">
                        <span class="bold color-yellow text-xs"> <i class="pi 
                        pi-money-bill color-purple" style="font-size: 12px"></i> {{event.price | rupiahCurrency}}</span>
                      </div>
                      <div class="col-12">
                        <div class="grid">
                          <div class="col-12 pb-0">
                            <i class="pi pi-calendar color-purple" style="font-size: 12px"></i>
                            <span class="black text-xs"> {{event.startAt | date: 'medium'}} s/d</span>
                          </div>
                          <div class="col-12 ml-3 pt-0">
                            <span class="black text-xs"> {{event.endAt | date: 'medium'}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 pt-0">
                        <span class="black text-xs"> <i class="pi pi-circle-fill color-purple"
                            style="font-size: 12px"></i> {{event.location}}</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </p-tabPanel>

        <!-- All Training -->
        <p-tabPanel header="All Training">
          <div class="grid">
            <div class="md:col-3 col-12" *ngFor="let training of listTraining.data">

              <!-- Card Training -->
                <div class="card card-community btnClick" (click)="onClick(training.id)">
                  <div class="container">
                    <div class="grid justify-content-center -mt-3">
                      <div class="col-12 flex justify-content-center">
                        <div class="image-content">
                          <div class="image-box mx-auto">
                            <img [src]="getCommPic(training.idFile!)" alt="" class="event-pic">
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <span class="bold-medium black text-xs"> <i class="pi pi-users color-purple"
                            style="font-size: 1rem"></i> {{training.provider}}</span>
                      </div>
                      <div class="surface-overlay white-space-nowrap overflow-hidden text-overflow-ellipsis title pl-2 mb-2 mr-auto" >
                        <span class="bold black text-sm title">{{training.title}}</span>
                    </div>
                    <div class="col-12">
                      <span class="bold color-yellow text-xs"> <i class="pi 
                      pi-money-bill color-purple" style="font-size: 12px"></i> {{training.price | rupiahCurrency}}</span>
                    </div>
                    <div class="col-12">
                      <div class="grid">
                        <div class="col-12 pb-0">
                          <i class="pi pi-calendar color-purple" style="font-size: 12px"></i>
                          <span class="black text-xs"> {{training.startAt | date: 'medium'}} s/d</span>
                        </div>
                        <div class="col-12 ml-3 pt-0">
                          <span class="black text-xs"> {{training.endAt | date: 'medium'}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 pt-0">
                      <span class="black text-xs"> <i class="pi pi-circle-fill color-purple"
                          style="font-size: 12px"></i> {{training.location}}</span>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </p-tabPanel>


        <!-- My Schedule  // Event dan Training yang dia buat -->
        <p-tabPanel header="My Schedule">
          <div class="grid flex flex-wrap row-gap-6">
            <div class="col-12">

              <!-- Card Schedule -->
              <div class="card">

                <!-- schedule -->
              <div *ngFor="let training of listTraining.data" >
              <div class="container">
                <div class="grid ">
                  <div class="md:col-3 col-12">
                    <div class="image-content">
                      <div class="image-box mx-auto">
                        <img [src]="getCommPic(training.idFile!)" alt="" srcset="">
                      </div>
                    </div>
                  </div>
                  <div class="md:col-9 col-12">
                    <div class="grid">
                        <div class="col-12">
                          <span class="bold black text-base title">{{training.title}}</span>
                        </div>
                        <div class="col-12">
                          <span class="bold-medium black text-sm"> <i class="pi pi-users color-purple"
                            style="font-size: 1rem"></i> {{training.provider}}</span>
                        </div>
                        <div class="col-12">
                          <div class="grid">
                            <div class="col-12 pb-0">
                              <i class="pi pi-calendar color-purple" style="font-size: 12px"></i>
                              <span class="black text-sm"> {{training.startAt | date: 'medium'}} s/d {{training.endAt | date: 'medium'}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <span class="black text-sm"> <i class="pi pi-circle-fill color-purple"
                            style="font-size: 12px"></i> {{training.location}}</span>
                        </div>
                      </div>
                  </div>
                </div>
                <p-divider></p-divider>
              </div>
            </div>
          </div>
          </div>
        </div>
        </p-tabPanel>
      </p-tabView>

    </div>
  </div>
</div>
