<div class="container">
  <div class="grid mt-3">
    <div class="col-12">
          <a  routerLink="/home-member"><i
            class="pi pi-angle-left"></i>Back to feed</a>
    </div>
  </div>
  <div class="grid">
    <!-- Halaman Kiri -->
    <div class="md:col-9 col-12">
      <div class="grid">
       
        <div class="col-12">
          <!-- Card Thread -->
          <div class="card">
            <div class="container">

              <!-- header -->
              <div class="grid">
                <div class="col-1">
                  <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="profile-pic">
                </div>
                <div class="col-11">
                  <div class="grid mt-1">
                    <div class="col-12">
                      <p class="text-base font-medium">Muhammad Tulus</p>
                    </div>
                    <div class="col-12">
                      <p class="text-xs">1 hour ago</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- content -->
              <div class="grid">
                <div class="col-12">
                  <p class="text-base font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    neque amet eaque exercitationem quo iste alias veniam, hic possimus earum reiciendis eius doloremque
                    nisi perferendis necessitatibus, minima quae sed sunt.</p>
                </div>
                <div class="col-12">
                  <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem neque amet eaque
                    exercitationem quo iste alias veniam, hic possimus earum reiciendis eius doloremque nisi perferendis
                    necessitatibus, minima quae sed sunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Error dicta unde inventore perspiciatis aspernatur tempore voluptatem hic sunt quos consequuntur
                    iusto minima, a eaque vero iure tempora at, tenetur deserunt.
                    Impedit sequi dolores laudantium corporis reiciendis, doloribus minus laborum doloremque recusandae
                    soluta temporibus voluptas natus numquam nesciunt non, aliquid aspernatur et placeat possimus saepe
                    atque cum, sunt nostrum dolor. Quam.
                    Quo, sequi autem. Odit nemo quis aut cupiditate deleniti vel iste recusandae quidem! Minus, odit
                    perspiciatis eaque possimus quia sed dignissimos, laudantium consequuntur qui eveniet nesciunt
                    voluptatibus illo quaerat aut!
                    Repellendus veniam recusandae laudantium soluta ab corrupti vitae animi eum velit ipsum! Consequatur
                    tempore itaque pariatur, iure numquam quae porro inventore quas incidunt aspernatur, saepe eos quos
                    quisquam, animi odio.
                    Eius dicta totam laboriosam ipsa ea saepe numquam ducimus minima voluptatum quo! Rerum corporis ut
                    aspernatur accusantium. Magnam doloremque saepe, necessitatibus possimus quas eveniet odit, aperiam
                    cumque obcaecati, quidem adipisci.
                    Fugiat deleniti minus explicabo adipisci quibusdam dolorum provident voluptatum nemo tenetur iusto
                    ipsum deserunt voluptate suscipit rem aperiam autem, totam repellat, ullam, molestiae nam odio.
                    Eaque iure necessitatibus molestiae adipisci.
                    Deleniti debitis, veniam consequuntur vel, quas cumque reiciendis nisi nostrum iusto sunt
                    necessitatibus? Alias nam sunt saepe tempore cupiditate tempora necessitatibus facere, nulla
                    eveniet, similique maiores laboriosam. Error, incidunt inventore.
                    Iusto delectus illo dignissimos nemo tempora corrupti vitae est fugiat labore laudantium inventore,
                    dolore praesentium optio nulla, ad eos commodi nostrum itaque aliquid molestias non quidem officia
                    nobis natus. Maxime.
                    Et perferendis excepturi, necessitatibus temporibus eaque dolore repellat non voluptate quisquam
                    pariatur fugit, aut labore voluptatem animi eum mollitia aliquam accusamus. Magnam velit repellat
                    eos? Perferendis possimus temporibus laudantium quasi?
                    Pariatur, asperiores beatae molestias unde, in tempore cupiditate natus, maxime officia explicabo
                    facere dolores maiores nobis ex minima sint? Quam id, ex esse nobis totam vel quibusdam rerum cumque
                    magnam.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-1">
          <!-- Write Comment -->
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-1 ml-4">
                  <i class="pi pi-circle-fill color-purple" style="font-size: 2rem"></i>
                </div>
                <div class="col -ml-4 mt-1">
                  <p class="font-semibold text-base">Comment</p>
                </div>
              </div>
            </div>
            <div class="col-12 -mt-1">
              <div class="card">
                <form action="">
                  <div class="grid">
                    <div class="col-1">
                      <img src="../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="profile-pic">
                    </div>
                    <div class="col-11">
                        <div class="grid flex flex-wrap">
                            <div class="col-12">
                              <input type="text" pInputText class="w-full border-radius-20px" placeholder="Title" />
                            </div>
                            <div class="col-12">
                              <textarea pInputTextarea class="w-full border-radius-20px" placeholder="Content"></textarea>
                            </div>
                          </div>
                          <p-divider></p-divider>
                          <div class="grid -mt-3 -mb-3">
                            <div class="col-1">
                              <button pButton pRipple type="button" icon="pi pi-image"
                                class="p-button-rounded p-button-help p-button-text"></button>
                            </div>
                            <div class="col-1">
                              <button pButton pRipple type="button" icon="pi pi-bars"
                                class="p-button-rounded p-button-help p-button-text"></button>
                            </div>
                            <div class="col-2 col-offset-8">
                              <button pButton pRipple type="submit"
                                class="p-button-rounded p-button-sm color-bg-yellow w-full text-small color-black bold"
                                styleClass="p-button-sm text-center" label="Post"></button>
                            </div>
                          </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Halaman Kanan -->
     <div class="md:col-3 col-12 right-page">
      <div class="grid justify-content-center">
        <div class="col-12 mt-1">
          <span class="bold text-heading-3">Training for you</span>
        </div>
      </div>
      <div class="card-transparent">
        <div class="container">
          <!-- event 1 -->
          <div class="grid justify-content-center">
            <div class="col align-content-center">
              <div class="grid" [style]="{ 'margin-top':'-20px'}">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">Title Training</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">Provider Training</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- event 1 -->
          <div class="grid justify-content-center">
            <div class="col align-content-center">
              <div class="grid" [style]="{ 'margin-top':'-20px'}">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">Title Training</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">Provider Training</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- event 1 -->
          <div class="grid justify-content-center">
            <div class="col align-content-center">
              <div class="grid" [style]="{ 'margin-top':'-20px'}">
                <div class="col-4">
                  <img src="../../../../assets/image/profile-pic-example.jpeg" alt="" srcset="" class="event-pic">
                </div>
                <div class="col-7 ml-1">
                  <div class="grid">
                    <div class="col-12">
                      <span class="text-small bold">Title Training</span>
                    </div>
                  </div>
                  <div class="grid -mt-3">
                    <div class="col-12">
                      <span class="text-extrasmall bold-medium">Provider Training</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>