.color-bg-yellow{
    background: #DAA300;
}

.color-black{
    color: black;
}

.color-bg-yellow:hover{
    background: #DAA300;
    color: black;
}

.btnClick {
    cursor: pointers;
}
a:link{
    text-decoration: none;
}
.border-radius-20px{
    border-radius: 20px;
}

.card-login{
   width:400px;
   padding-right: 10px;
   padding-left: 10px;
   margin-top:15px;
}