.image-box-profile{
    height: 100%;
    width: 100%;
}
.image-box-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.image-content-profile{
    height: 50px;
    width:50px;
    object-fit: cover;
}
.threads{
    border-bottom: 4px solid #DAA300;
}
.click{
cursor: pointer;
}

.see-more:hover{
    color: var(--primary-400);
}