
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.text-small{
    font-size: 14px;
}
.text-extrasmall{
    font-size: 12px;
}
.text-heading{
    font-size: 25px;
}

.text-heading-2{
    font-size: 19px;
}
.bold{
  font-weight: 600;
}
.bold-medium{
    font-weight: 500;
}
.color-yellow{
    color: #DAA300;
}

.color-yellow-F8D777{
    color: #F8D777;
}
.color-bg-yellow{
    background: #DAA300;
}

.color-black{
    color: black;
}

.color-bg-yellow:hover{
    background: #DAA300;
    color: black;
}

.btnClick {
    cursor: pointers;
}
a:link{
    text-decoration: none;
}
.border-radius-20px{
    border-radius: 20px;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.size-30{
    font-size: 30px;
}

.container{
    width: 100%;
    max-width: 1320px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.card {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px; 
    background-color: white;
    box-sizing: border-box;
    border:solid #848382 1px ;
  }

  .border-top{
    border-top: solid #848382 1px ;
  }

