<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">USER</span>
          <div class="text-900 font-medium text-xl">100</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
          [style]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-user text-blue-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Event</span>
          <div class="text-900 font-medium text-xl">15</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [style]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-star-fill text-orange-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Article</span>
          <div class="text-900 font-medium text-xl">25</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          [style]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-inbox text-cyan-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Tread</span>
          <div class="text-900 font-medium text-xl">7</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
          [style]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-comments text-purple-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col-12">
    <div class="card mb-0">
      <div class="text-center">
        <h1>
          "To every thing there is a season, and a time to every purpose under the heaven.
          A time to weep, and a time to laugh. a time to mourn, and a time to dance."
        </h1>
        <span class="block text-500 font-medium mb-3"> King Solomon </span>
      </div>
    </div>
  </div>
</div>
